[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/GaneshBabu2021
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/GaneshBabu2021
	label-Verified = -1..+1 group user/GaneshBabu2021
	push = group user/GaneshBabu2021
	read = group user/GaneshBabu2021
	rebase = group user/GaneshBabu2021
	removeReviewer = group user/GaneshBabu2021
	submit = group user/GaneshBabu2021
[access "refs/heads/*"]
	create = group user/GaneshBabu2021
	push = +force group user/GaneshBabu2021
	pushMerge = group user/GaneshBabu2021
	read = group user/GaneshBabu2021
[access "refs/tags/*"]
	push = group user/GaneshBabu2021
	push = +force group user/GaneshBabu2021
